@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
}

@font-face {
  font-family: "Nasa";
  src: url("../css/Nasa.ttf") format("truetype");
}

/* NAV */
nav {
  background: #403d58;
  color: #fff;
  padding: 15px;
  border-bottom: 1px solid silver;
  position: fixed;
  width: 100%;
}
nav > a {
  color: #fff;
  text-decoration: none;
  font-family: Nasa;
  font-size: 20px;
}
nav ul {
  list-style: none;
  float: right;
  margin-right: 35px;
}
nav ul li a {
  display: inline;
  margin-right: 5px;
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
nav ul li a:hover {
  color: #ccc;
}
.search {cursor:pointer;}


/* SECTION 1 */
.section1 {
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 200px 50px 200px 50px;
}
.section1 h1 {
  color: #fff;
  text-align: center;
  text-shadow: #000 2px 2px 2px;
  font-family: Nasa;
  font-size: 40px;
  border-bottom: 1px solid silver;
  padding-bottom: 8px;
}
.section1 h3 {
  color: #fff;
  text-align: center;
  text-shadow: #000 2px 2px 2px;
  font-size: 13px;
  font-family: arial;
  padding-top: 8px;
}

/* SECTION 2 */
.section2 {
  padding: 70px 30px 70px 30px;
  color: #fff;
  background: #403d58;
  text-align: center;
}
.section2 h1 {
  font-size: 40px;
  text-shadow: #000 2px 2px 2px;
  font-family: arial;
  border-bottom: 1px solid silver;
  padding-bottom: 15px;
}
.section2 p {
  padding-top: 15px;
  text-align: center;
}

/* SECTION 3 */
.section3 {
  padding: 50px 20px 50px 10px;
  background: #fff;
  border-bottom: 1px solid silver;
  text-align: center;
  background: url(../img/bg2.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.section3 h1 {
  text-align: center;
  font-size: 40px;
  color: #fff;
  padding: 10px;
  margin: 30px auto;
  max-width: 500px;
  font-family: arial;
  border-bottom: 1px solid silver;
}
.section3 form {
  margin: auto;
  text-align: center;
}
.section3 p {
  padding: 10px;
}
.section3 form input {
  width: 300px;
  border: 2px solid #403d58;
  border-radius: 10px;
  padding: 10px;
}
.section3 form textarea {
  width: 302px;
  padding: 10px;
  border: 2px solid #403d58;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
}
.button {
  max-width:100px;
  background:#403D58;
  color:#fff;
  font-weight: bold;
  cursor: pointer;
}
.button:hover {
  background: #72708a;
}


/* FOOTER */
footer {
  padding: 20px;
  background: #403d58;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
footer ul {
  list-style: none;
  font-family: Calibri;
  user-select: none;
  font-size: 15px;
}
#fabio {
  font-style: italic;
  font-weight: lighter;
  font-size: 12px;
}

/* PARA TELAS MAIORES QUE 992PX */
@media (min-width: 992px) {
  nav > a {font-size: 40px;}
  nav ul li a {font-size: 22px;}
  div.section1 h1 {font-size: 10vw;}
  div.section1 h3 {font-size: 2vw; }
  div.section1 {padding: 300px;}

  div.section2 {padding: 200px;}
  div.section3 {padding: 60px;}
  div.section3 form textarea,
  div.section3 form input {width: 600px;}
}
