@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
}
nav {
  background: #111;
  color: #fff;
  padding: 25px;
}
@font-face{
  font-family: "Nasa.";
  src: url("../css/Nasa.ttf") format("truetype");
}

nav a {
  color: #fff;
  text-decoration: none;
  font-family: Nasa;
}
nav ul {
  list-style: none;
  float: right;
}
